html, body, form, li {
	margin: 0;
	padding: 0;
}

body {
	background: #fff2d2;
	color: #000;
	font: 9pt Arial, Verdana, Helvetica, sans-serif;
	padding: 1em;
}

h1 {
	color: red;
	font-size: 500%;
	font-weight: normal;
	letter-spacing: -2px;
	margin: 1em 0 0 0;
}

ul, ol, p {
	margin: 1em 0;
	padding: 0;
}

ul, ol {
	padding-left: 2em;
}

a:link, a:visited {
	color: #2e99d7;
	text-decoration: none;
}

a img {
	border: 0;
	vertical-align: 0;
}

html>/**/body a img {
	vertical-align: text-bottom;
}

.section {
	background: #fff;
	border: 1px solid #d6dee7;
	margin: 1em 0;
	padding: 1em;
}

.section h3 {
	border-bottom: 1px solid #efd6aa;
	color: #fea202;
	font-size: 200%;
	font-weight: normal;
	margin-top: 0;
	padding: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 1em 0;
	padding: 0;
}

dd ul {
	list-style: none;
}

dd li {
	padding: 1px 0;
}

dd dd {
	margin-top: 0.5em;
}

input {
	font-size: 100%;
}

.info {
	color: #666;
	font-size: 90%;
	font-style: italic;
	margin: 1em 0 0 0;
}

.info em {
	text-decoration: underline;
}

.important {
	font-weight: bold;
}

.bug {
	color: red;
}

#nav {
	list-style: none;
	text-align: center;
}

#nav ul {
	padding: 0;
}

#nav li {
	display: inline;
}

#nav .current a {
	text-decoration: underline;
}

button, #nav a:link, #nav a:visited, .actions a:link, .actions a:visited {
	background: #34bfec;
	border: 1px solid #02aae0;
	color: #fff;
	font: bold 14pt/1em Arial, Verdana, Helvetica, sans-serif;
	height: 2em;
	margin-right: 8px;
	padding: 0.3em 0;
	vertical-align: middle;
}

html>/**/body button {
	padding: 0.3em 1em;
}

#nav a:link, #nav a:visited, .actions a:link, .actions a:visited {
	font: bold 140%/2em Arial, Verdana, Helvetica, sans-serif;
	margin: 0 4px;
	padding: 0.41em 1.5em 0.4em;
}

button:hover, #nav a:hover, #nav a:active, .actions a:hover, .actions a:active {
	background: #4cc9f2;
}

#head, .about, .actions, #foot {
	text-align: center;
}

#lfont_0 {
	font-weight: normal;
}

#lfont_1 {
	font-weight: bold;
}

#lfont_2 {
	font-style: italic;
	font-weight: normal;
}

#lfont_3 {
	font-style: italic;
	font-weight: bold;
}